<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
      <add key="websiteDataID" value="1"/>
      <add key="websiteName" value="疯猫笑话"/>
      <add key="websiteKeywords" value="疯猫笑话 - 让你每天疯一回 - 爆笑男女笑话,社会笑话,冷笑话,校园笑话,儿童笑话,综合笑话,夫妻笑话,爆笑签名笑话,家庭笑话,动物笑话,职场笑话,短信笑话,幽默网文笑话,幽默笑话,影视台词笑话,爱情笑话,医疗笑话,文艺笑话,名著爆笑笑话,哲理笑话,愚人笑话,节日笑话,民间笑话,交通笑话,名人笑话,国际笑话,体育笑话,恋爱必读笑话,网络笑话,电脑笑话,宗教笑话,司法笑话,恐怖笑话,搞笑测试笑话,军事笑话,感情笑话,搞笑歌词笑话,顺口溜笑话,女人笑话,股市证券笑话,传说笑话,小笑话,爆笑笑话,求爱秘籍笑话" />
  </appSettings>
  
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
